{% extends "base.html" %}
{% comment %}
<link rel="stylesheet" href="{% static 'css/.css' %}"> {% endcomment %}
{% comment %}
<link rel="stylesheet" href="{% static '.\css\Random-Password-Generator.css' %}"> {% endcomment %}
{% block stylesheet %}
<link rel="stylesheet" href="../static/css/Random-Password-Generator.css">
{% endblock stylesheet %}
{% block title %}Random Password Generator{% endblock title %}
<div class="Gtitle">
    {% block Gname %}{{game_name}}{% endblock Gname %}
</div>
{% block content %}
<div class="form">

    <form method="post">
        {% csrf_token %}
        <label for="letters">How many <b>letters</b> would you like in your password?</label>
        <input type="text" name="letters" id="" value="{{l}}"><br><br>
        <label for="symbol">How many <b>symbols</b> would you like in your password?</label>
        <input type="text" name="symbol" id="" value="{{s}}"><br><br>
        <label for="numbers">How many <b>numbers</b> would you like in your password?</label>
        <input type="text" name="numbers" id="" value="{{n}}"><br><br><br>
        <input type="submit" value="Submit">
    </form>
    <p><b> Your random password generated is: <div class="passwordcol">{{password}}</div> </b></p>

</div>
{% endblock content %}